In [39]:
import os
import csv 
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

file = ('ACFR_Data_BCS.csv')

In [40]:
df = pd.read_csv(file, encoding="ISO-8859-1")

In [41]:
needed_df = pd.DataFrame(df, columns = ['IncidentNumber', 'Type Of Alarm','Day',' Month','Year'])
needed_df = needed_df.rename(columns= {' Month':'Month'})
needed_df = needed_df.dropna()
needed_df.head()

    IncidentNumber Type Of Alarm  Day  Month  Year
0   ACFD17-0003067      EMS Call   28      5  2017
1   ACFF17-0003126     Fire Call   31      5  2017
2  ACFR 17-0003061      EMS Call   28      5  2017
3  ACFR 17-0003177     Fire Call    2      6  2017
4  ACFR 17-0003279     Fire Call    7      6  2017

In [43]:
needed_df['yrmod'] = needed_df['Year'].map(str) + needed_df['Month'].map(str) + needed_df['Day'].map(str)
needed_df.head()

    IncidentNumber Type Of Alarm  Day  Month  Year    yrmod
0   ACFD17-0003067      EMS Call   28      5  2017  2017528
1   ACFF17-0003126     Fire Call   31      5  2017  2017531
2  ACFR 17-0003061      EMS Call   28      5  2017  2017528
3  ACFR 17-0003177     Fire Call    2      6  2017   201762
4  ACFR 17-0003279     Fire Call    7      6  2017   201767

In [44]:
# needed_df['yrmod'] = needed_df['Date'] = pd.to_datetime(df.assign(Day=1).loc[:, ['Year','Month','Day']])

# stats = {}
# for row in needed_df.iterrows():
#     Basic_Alarm = row[1]['Type Of Alarm']
#     year = row['Year']
#     month = row['Month']
#     day = row['Day']
#     if (int(year)==2019):
#          yrmo = day + month + year 
#          if (yrmo in stats):
#             if (Basic_Alarm in stats[yrmo]):
#               stats[yrmo][Basic_Alarm]+=1
#               stats[yrmo]["total"]+=1
#             else:
#               stats[yrmo][Basic_Alarm]=1
#               stats[yrmo]['total']=1
#          else:
#             stats[yrmo]={}
#             stats[yrmo][Basic_Alarm]=1
#             stats[yrmo]['total']=1
# for yrmo in stats:
#     for basical in stats[yrmo]:
#         print (yrmo,basical,stats[yrmo][basical])